{
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"semi": true,
	"organizeImportsSkipDestructiveCodeActions": true,
	"useTabs": true,
	"tabWidth": 4,
	"plugins": ["prettier-plugin-organize-imports"]
}
  